<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <title>CheckOut - hotel</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <link rel="stylesheet" href="/materialdesignicons.min.css">
    <link rel="stylesheet" href="/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="/jquery-jvectormap.css">
    <link rel="stylesheet" href="/flag-icon.min.css">
    <link rel="stylesheet" href="/owl.theme.default.min.css">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="/owl.carousel.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="/style.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
</head>

<body style="background-color: white;">
<div class="container-scroller">
    <div class="container-fluid page-body-wrapper">
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="col-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">CHECK - OUT</h4>
                            <form class="form-sample"
                                  th:action="@{/checkoout/{id}(id=${reservasi.code})}" th:object="${reservasi}"
                                  method="post" enctype="multipart/form-data" name="reservasi">
                                <p class="card-description"> Personal info </p>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Code Reservasi</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" placeholder="code reservasi"
                                                       th:field="*{code}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">tanggal Order</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" required="required"
                                                       th:field="*{tanggalOrder}" name="tanggalOrder">
                                            </div>
                                            <script>
                                                document.reservasi.tanggalOrder.value = new Date().toISOString().substr(0, 10);
                                                ;
                                            </script>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Name</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" placeholder="name"
                                                       th:field="*{nama}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">tanggal checkin</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" placeholder="dd/mm/yyyy"
                                                       th:field="*{tanggalCheckin}" name="checkin">
                                            </div>
                                            <script>
                                                const tanggalKembali = document.reservasi.checkin;
                                                tanggalKembali.oninput = () => {
                                                    if (new Date(tanggalKembali.value) < new Date.now().toISOString().substr(0, 10)) {
                                                        alert("Tanggal kembali tidak bisa sebelum tanggal pinjam.")
                                                        tanggalKembali.value = new Date.now().toISOString().substr(0, 10).valueOf();
                                                    }
                                                }
                                            </script>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Gender</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" placeholder="name"
                                                       th:field="*{jenisKelamin}">
                                                <!--                                                <select class="form-control" th:field="*{jenisKelamin}">-->
                                                <!--                                                    <option th:value="'Male'" th:text="Male">Male</option>-->
                                                <!--                                                    <option th:value="'Female'" th:text="Female">Female</option>-->
                                                <!--                                                </select>-->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Jumlah Kamar</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" placeholder="lama inap"
                                                       th:field="*{jumlahKamar}">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Nomor Identitas</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control"
                                                       placeholder="No Kartu tanda penduduk" th:field="*{noKtp}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label"> Room </label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control"
                                                       placeholder="No Kartu tanda penduduk" th:field="*{room}">
                                                <!--                                                <select class="form-control" th:field="*{room}" id="pizza">-->
                                                <!--                                                    <option value="">Nothing selected</option>-->
                                                <!--                                                    <option th:each="room : ${rooms}"-->
                                                <!--                                                            th:value="${room.id}"-->
                                                <!--                                                            th:text="${room.jenis}">-->
                                                <!--                                                    </option>-->
                                                <!--                                                </select>-->
                                            </div>
                                        </div>
                                    </div>
                                    <!--                                    <div class="col-md-6">-->
                                    <!--                                        <div class="form-group row">-->
                                    <!--                                            <label class="col-sm-3 col-form-label">Photo KTP</label>-->
                                    <!--                                            <div class="col-sm-9">-->
                                    <!--                                                <input type="file" accept="image/png, image/jpeg" class="form-control"-->
                                    <!--                                                       name="filePhotoKtp">-->
                                    <!--                                            </div>-->
                                    <!--                                        </div>-->
                                    <!--                                    </div>-->
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Nomor Telepon/Whatshap</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control"
                                                       placeholder="nomor telpon/whatshap" th:field="*{noTlpn}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Lama Inap</label>
                                            <div class="col-sm-9">
                                                <textarea type="text" class="form-control" placeholder="catatan"
                                                          th:field="*{lamaInap}"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Alamat</label>
                                            <div class="col-sm-9">
                                                <textarea type="text" class="form-control" placeholder="alamat"
                                                          th:field="*{alamat}"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Email</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" placeholder="email"
                                                       th:field="*{email}"></input>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputName1">Tagihan</label>
                                    <input type="text" class="form-control" id="exampleInputName1" placeholder="catatan"
                                           th:field="*{tagihan}">
                                </div>
                                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                    <button class="btn btn-primary me-md-2" type="submit"><a
                                            style="text-decoration: none;-webkit-text-fill-color: black"><span
                                            class="material-icons-outlined">done_all</span></a>
                                    </button>
                                        <a class="btn btn-danger" th:href="@{/checkout}"><span class="material-icons-outlined">remove_done</span></a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
</html>