<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Index - hotel</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <link rel="stylesheet" href="/materialdesignicons.min.css">
    <link rel="stylesheet" href="/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="/jquery-jvectormap.css">
    <link rel="stylesheet" href="/flag-icon.min.css">
    <link rel="stylesheet" href="/owl.theme.default.min.css">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="/owl.carousel.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="/style.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
</head>
<body style="">
<div class="container-scroller">
    <!-- partial:partials/_sidebar.html -->
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
            <a class="sidebar-brand brand-logo" href="index.html"><img src="/images/motel.png" alt="logo"></a>
        </div>
        <ul class="nav">
            <li class="nav-item profile">
            </li>
            <li class="nav-item nav-category">
                <span class="nav-link">Navigation</span>
            </li>
            <li class="nav-item menu-items">
                <a class="nav-link" th:href="@{/dashboard}">
              <span class="menu-icon">
                  <span class="material-icons-outlined">dashboard_customize</span>
              </span>
                    <span class="menu-title"> Dashboard</span>
                </a>
            </li>
            <li class="nav-item menu-items">
                <a class="nav-link" th:href="@{/newreservasi}">
              <span class="menu-icon"><span class="material-icons-outlined">shopping_cart_checkout</span>
              </span>
                    <span class="menu-title">Recerpationt</span>
                </a>
            </li>
            <li class="nav-item menu-items">
                <a class="nav-link" th:href="@{/checkin}">
              <span class="menu-icon">
                <span class="material-icons-outlined">checklist</span>
              </span>
                    <span class="menu-title">Checkin</span>
                </a>
            </li>
            <li class="nav-item menu-items">
                <a class="nav-link" th:href="@{/checkout}">
              <span class="menu-icon">
                <span class="material-icons-outlined">receipt_long</span>
              </span>
                    <span class="menu-title">Checkout</span>
                </a>
            </li>
            <li class="nav-item menu-items">
                <a class="nav-link" th:href="@{/room}">
              <span class="menu-icon">
                <span class="material-icons-outlined">bedroom_parent</span>
              </span>
                    <span class="menu-title">Room </span>
                </a>
            </li>
            <li class="nav-item menu-items">
                <a class="nav-link" th:href="@{/admin/employee}">
              <span class="menu-icon">
               <span class="material-icons-outlined">badge</span>
              </span>
                    <span class="menu-title">Employee</span>
                </a>
            </li>
            <li class="nav-item menu-items">
                <a class="nav-link" th:href="@{/admin/account}">
              <span class="menu-icon">
               <span class="material-icons-outlined">supervised_user_circle</span>
              </span>
                    <span class="menu-title">Acount</span>
                </a>
            </li>
        </ul>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar p-0 fixed-top d-flex flex-row">
            <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
                <a class="navbar-brand brand-logo-mini" href="index.html">G</a>
            </div>
            <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
                <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                    <span class="material-icons-outlined">menu</span>
                </button>
                <ul class="navbar-nav navbar-nav-right">
                    <li class="nav-item dropdown">
                        <a class="nav-link" id="profileDropdown" href="#" data-toggle="dropdown">
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <form th:action="@{/appLogout}" method="POST">
                                    <input type="submit" value="Logout" />
                                </form>
                            </div>
                        </a>
                    </li>
                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
                        data-toggle="offcanvas">
                    <span class="material-icons-outlined">menu</span>
                </button>
            </div>
        </nav>
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-12 grid-margin stretch-card">
                        <div class="card corona-gradient-card">

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 grid-margin">
                        <div class="card">
                            <div class="card-body">
                                <h3>NUMBER OF VISITOR</h3>
                                <h5>who checked out</h5>
                                <hr>
                                <div class="row name">
                                    <div class="col-8 col-sm-12 col-xl-8 my-auto">
                                        <div class="d-flex d-sm-block d-md-flex align-items-center">
                                            <h2 class="mb-0" th:value="${visitorsCheckout}"></h2>
                                        </div>
                                        <hr>
                                        <h6 class="text-muted font-weight-normal tgl" id="demo"></h6>
                                        <script>
                                            const d = new Date();
                                            let text = d.toLocaleDateString();
                                            document.getElementById("demo").innerHTML = text;
                                        </script>
                                    </div>
                                    <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                                        <i class="icon-lg mdi mdi-codepen text-primary ml-auto"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 grid-margin">
                        <div class="card">
                            <div class="card-body">
                                <h3>NUMBER OF VISITOR</h3>
                                <h5>who checked in</h5>
                                <hr>
                                <div class="row">
                                    <div class="col-8 col-sm-12 col-xl-8 my-auto">
                                        <div class="d-flex d-sm-block d-md-flex align-items-center">
                                            <h2 class="mb-0" th:value="${visitorscheckin}"></h2>
                                        </div>
                                        <hr>
                                        <h6 class="text-muted font-weight-normal tgl" id="tanggal"></h6>
                                        <script>
                                            const date = new Date();
                                            let tgl = date.toLocaleDateString();
                                            document.getElementById("tanggal").innerHTML = tgl;
                                        </script>
                                    </div>
                                    <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                                        <i class="icon-lg mdi mdi-wallet-travel text-danger ml-auto"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 grid-margin">
                        <div class="card">
                            <div class="card-body">
                                <h3>NUMBER OF VISITOR</h3>
                                <h5>Haven't Checked In</h5>
                                <hr>
                                <div class="row name">
                                    <div class="col-8 col-sm-12 col-xl-8 my-auto">
                                        <div class="d-flex d-sm-block d-md-flex align-items-center">
                                            <h2 class="mb-0" th:value="${jml}"></h2>
                                        </div>
                                        <hr>
                                        <h6 class="text-muted font-weight-normal tgl" id="tg"></h6>
                                        <script>
                                            const t = new Date();
                                            let tl = t.toLocaleDateString();
                                            document.getElementById("demo").innerHTML = tl;
                                        </script>
                                    </div>
                                    <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                                        <i class="icon-lg mdi mdi-codepen text-primary ml-auto"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-12 grid-margin">
                        <div class="card">
                            <div class="card-body">
                                <h2 class="card-title">VISITOR DATA</h2>
                                    <h4>Haven't Checked In</h4>
                                <div class="table-responsive">

                                    <table class="table table-bordered" style="text-align: center;">
                                        <thead>
                                        <tr>
                                            <th>
                                                <div class="form-check form-check-muted m-0">
                                                    <label class="form-check-label">
                                                        <input type="checkbox" class="form-check-input">
                                                    </label>
                                                </div>
                                            </th>
                                            <th> Code Reservasi</th>
                                            <th> Nama</th>
                                            <th> Jenis Kelamin</th>
                                            <th> tanggal Order</th>
                                            <th> Tanggal Checkin</th>
                                            <th> Alamat</th>
                                            <th> Nomor Telepon</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="reservasi : ${list}">
                                            <th>
                                                <div class="form-check form-check-muted m-0">
                                                    <label class="form-check-label">
                                                        <input type="checkbox" class="form-check-input">
                                                    </label>
                                                </div>
                                            </th>
                                            <td th:text="${reservasi.code}"></td>
                                            <td th:text="${reservasi.nama}"></td>
                                            <td th:text="${reservasi.jenisKelamin}"></td>
                                            <td th:text="${reservasi.tanggalOrder}"></td>
                                            <td th:text="${reservasi.tanggalCheckin}"></td>
                                            <td th:text="${reservasi.alamat}"></td>
                                            <td th:text="${reservasi.noTlpn}"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
            <!-- partial:partials/_footer.html -->
            <footer class="footer">
                <div class="d-sm-flex justify-content-center justify-content-sm-between">
                    <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © bootstrapdash.com 2020</span>
                </div>
            </footer>
            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!--Java Script-->
<script src="js/dashboard.js"></script>
<script src="js/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<script src="js/Chart.min.js"></script>
<script src="js/progressbar.min.js"></script>
<script src="js/jquery-jvectormap.min.js"></script>
<script src="js/jquery-jvectormap-world-mill-en.js"></script>
<script src="js/owl.carousel.min.js"></script>
<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="js/off-canvas.js"></script>
<script src="js/hoverable-collapse.js"></script>
<script src="js/misc.js"></script>
<script src="js/settings.js"></script>
<script src="js/todolist.js"></script>
</body>
</html>